@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.content{
    font-family: 'Roboto', sans-serif;
    > h1 {
        display: flex;
        padding-top: 10%;
        align-items: center;
        justify-content: center;
        user-select: none;
    }
}

@media only screen and (max-width: 100px)
{
    
    .content{
        > h1 {
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 680px) {
    .content{
         > h1 {
            padding-top: 20%;
            font-size: 17px;
         }
    }
  }

  @media only screen and (max-width: 481px) {
    .content{
        > h1 {
            padding-top: 40%;
            font-size: 15px;
         }
    }
  }